:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --button-radius: 35px;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
  }

/* General */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}
  
a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
}

.btn {
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 16px 65px;
    border-radius: var(--button-radius);
    border: none;
}

/* Header */

.header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
}

.header__nav {
    display: flex;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.nav__link {
    color: var(--color-grey);
    font-weight: 600;
    text-transform: uppercase;
    padding: 28px 20px 22px 20px;
    border-bottom: 4px solid transparent;
}

.nav__link:hover {
    border-bottom: 4px solid var(--color-primary);
    color: var(--color-black);
}

a.logo {
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-size: 2rem;
}

/* Opening section  */

.opening__content {
    margin-top: 130px;
    text-align: center;
}

.opening__header {
    font-size: 3rem;
    font-family: var(--font-raleway);
}

.opening__text {
    margin: 20px 0 40px;
}

.opening__image {
    width: 100%;
    height: auto;
}

.opening__button {
    background-color: var(--color-primary);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    padding: 22px 155px;
}

/* Statistics section */

.stats {
    padding-top: 100px;
    margin-bottom: 100px;
}

.stats__header {
    font-family: var(--font-raleway);
    font-size: 2.3rem;
}

.stats__container {
    margin: 100px auto;
    display: flex;
    max-width: 800px;
    justify-content: space-between;
}

.stats__circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.stats__image {
    position: absolute;
    top: 16%;
    left: 31%;
}

.stats__single:nth-child(1) .stats__circle{
    background-color: var(--color-redish);
}

.stats__single:nth-child(2) .stats__circle{
    background-color: var(--color-primary);
}

.stats__single:nth-child(3) .stats__circle{
    background-color: var(--color-green);
}

.stats__number {
    font-weight: 800;
    font-family: var(--font-raleway);
    letter-spacing: 5px;
}

.stats__description {
    color: var(--color-grey)
}

/* Benefits section */

.benefits {
    background-color: var(--color-light-grey);
    padding-top: 100px;
    padding-bottom: 50px;
}

.benefits__container {
    display: flex;
    flex-direction: column;

}

.benefits__single {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits__text {
    max-width: 416px;
    text-align: left;
}

.benefits__text::after {
    content: '';
    display: block;
    width: 320px;
    height: 4px;
    background-color: var(--color-green);
    margin-top: 40px;
}

.benefits__text:nth-child(2)::after {
    background-color: var(--color-primary);
}

.benefits__text:nth-last-child(2)::after {
    background-color: var(--color-redish);
}

.benefits__header {
    font-family: var(--font-raleway);
    font-size: 2rem;
    margin: 70px 0 20px;
}

.notebook__image {
    width: 386px;
    margin: 30px;
}

.benefits__double {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.benefits__single__image {
    background-color: var(--color-green);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.benefits__single__text {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 20px;
    flex-grow: 3;
    margin-right: 40px;
}

@import "mixins";
@import "reset";
@import "variables";
@import "base";
@import "sections/pricing";
@import "sections/contact";
@import "sections/footer"